<!DOCTYPE html>
<html>

<head>
  <link data-require="bootstrap@3.3.2" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <script data-require="bootstrap@3.3.2" data-semver="3.3.2" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script data-require="angular.js@1.3.15" data-semver="1.3.15" src="https://code.angularjs.org/1.3.15/angular.js"></script>
  <script data-require="jquery@2.1.3" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>

<body ng-app="myapp" ng-controller="ctrl" class="container">

  <!-- Github Ribbon to fork -->
  <a href="https://github.com/abhijitkatiyar/ng-TODO-List">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
    alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
  </a>

  <h2>TODO Tasks</h2>

  <button type="button" class="btn btn-info" ng-show="flag1" ng-click="add()">
    <span class="glyphicon glyphicon-plus" ng-click="add()"></span> Add New Task</button>

  <textarea class="form-control" rows="5" ng-model="obj.description" ng-hide="flag1"></textarea>
  <button type="button" ng-hide="flag1" class="btn btn-info" ng-click="addNewTask()">Add Now</button>

  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-click="disp('')" ng-class="{active: str == ''}">All Tasks</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-click="disp('todo')" ng-class="{active: str == 'todo'}">TODO Tasks</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-click="disp('done')" ng-class="{active: str == 'done'}">Completed Tasks</button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <tr class="rows">
        <th>Description</th>
        <th>Date Created</th>
        <th colspan=3></th>
        <tr ng-repeat="x in arr| filter:str">
          <td>
            <div ng-hide="edit">{{x.description}}</div>
            <div ng-show="edit">
              <input type="text" ng-model="x.description">
            </div>
          </td>
          <td>{{x.time}}</td>
          <td><span class="glyphicon glyphicon-ok" ng-if="x.status=='todo'" ng-click="x.status='done'" ng-hide="edit"></span>
          </td>
          <td><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="taskRemove(x)" ng-hide="edit"></span>
          </td>
          <td><span class="glyphicon glyphicon-edit" ng-if="x.status=='todo'" aria-hidden="true" ng-click="edit=true" ng-hide="edit"></span>
            <span class="glyphicon glyphicon-check" aria-hidden="true" ng-click="edit=false" ng-show="edit"></span>
          </td>

        </tr>
    </table>
  </div>
</body>

</html>
